body{
    margin: 40px;
}

.container{
    display: grid;
    width: 600px;
    grid-template-columns: repeat(6,100px);
    grid-gap: 10px;
    
}

.box{
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    order: 1;
}
.box:nth-child(even){
    background-color: #ccc;
    color: #000;
}

.box1{
    order: 3;
}

.box2{
    order: 4;
}

.box8{
    order: 2;
}